body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00A86B;
    color: #ffffff
}

h2 {
    padding: 20px;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px;
    padding: 0 20px;
    text-align: center;
    background-color: #00A86B;
}

main {
    padding: 20px;
}

hr {
    border: none;
    height: 2px;
    background-color: #00A86B;
    margin: 20px 0;
}

@media (max-width: 768px) {
    header nav menu {
        flex-direction: column;
    }

    p {
        padding: 0 10px;
    }
}