
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333; 
    margin: 0;
    padding: 20px;
}

form div {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px; 
    font-weight: bold; 
}

form input[type="text"],
form input[type="file"],
form select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
}

button {
    background-color: #00A86B;
    color: white;
    border: none; 
    border-radius: 5px; 
    padding: 10px 15px; 
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

form label[for="enable-location"] {
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}


button:hover {
    background-color: #008C54;
}
